h1 {
	text-align: center;
}

table {
	display: flex;
  	justify-content: center;
}

td {
	width: 100px;
	height: 100px;
}

#topleft, #middleleft, #topmiddle, #middlemiddle {
	border-right: 2px black solid;
	border-bottom: 2px black solid;
}

#topright, #middleright {
	border-bottom: 2px black solid;
}

#bottomleft, #bottommiddle {
	border-right: 2px black solid;
}